:root {
  /* Base theme knobs */
  --bg-h: 240;
  --bg-s: 40%;
  --bg-l: 12%;
  --font-family: monospace;
  font-size: 1.1em;
}

footer {
	font-size: 0.8em;
	text-align: left;
}

body {
	grid-template-columns: 1fr minmax(auto, 80ch) 1fr;
}

.time-list__date {
	font-size: 0.8em;
	opacity: 70%;
}
